.dtbcache.v2
06b2ca0f-8f88-4e07-aeae-766513f1fdc9.vsidx
17baa862-776c-4697-a719-e8ffbb84abe3.vsidx
d30063c2-fa28-43b7-b22d-d39d4bcc973a.vsidx
.suo
DocumentLayout.backup.json
DocumentLayout.json
SharePointCrawler.deps.json
SharePointCrawler.dll
SharePointCrawler.exe
SharePointCrawler.pdb
SharePointCrawler.runtimeconfig.json
.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SharePointCrawler.AssemblyInfo.cs
SharePointCrawler.AssemblyInfoInputs.cache
SharePointCrawler.GeneratedMSBuildEditorConfig.editorconfig
SharePointCrawler.GlobalUsings.g.cs
SharePointCrawler.assets.cache
SharePointCrawler.csproj.BuildWithSkipAnalyzers
SharePointCrawler.csproj.CoreCompileInputs.cache
SharePointCrawler.csproj.FileListAbsolute.txt
SharePointCrawler.genruntimeconfig.cache
apphost.exe
SharePointCrawler.csproj.nuget.dgspec.json
SharePointCrawler.csproj.nuget.g.props
SharePointCrawler.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
/.vs/SharePointCrawler/FileContentIndex/269b4b4c-b8e5-4764-a44d-6601af2d540f.vsidx
